.clients-list {
  @include centerdFlex();
  @extend %list;
}

.clients-list .item {
  height: 92px;
  flex-basis: calc(100% - 150px / 3);
  margin-right: $main-gap;
}

.clients-list .item:last-child {
  margin-right: 0px;
}

.clients-list .link {
  @extend %link;

  @include centerdFlex();

  width: 100%;
  height: 100%;
  border: getBorder('icon');
  border-radius: 4px;
  color: getColor('primary-icon');

  transition: color $general-duration $general-cubic;

  &:hover,
  &:focus {
    color: getColor('accent');
    border: 1px solid getBorder('accent');
  }
}

.clients-list .company-icon {
  fill: currentColor;
}
