.address__list {
  @extend %list;

  font-style: normal;
}

.address__link {
  @extend %link;

  display: inline-block;

  color: getColor('address');

  &--color {
    color: getColor('general-white');
  }

  &:hover {
    color: getColor('accent');
    transition: gettransition(color);
  }
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}
