.button--primary {
  @extend %button;

  background-color: getColor('accent');
  color: getColor('general-white');
}

.button--secondary {
  @extend %button;

  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  background-color: getBg-color('secondary');
}
