.contacts-info {
  @extend %list;
  @include centerdFlex();

  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: $main-gap;
  }
}

.contacts-info__link {
  @include centerdFlex();

  padding-top: 32px;
  padding-bottom: 32px;

  color: getColor('primary');

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: gettransition(color);

  @extend %link;

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.contact-info__mail-icon {
  margin-right: 10px;

  width: 16px;
  height: 12px;

  fill: currentColor;
}

.contact-info__phone-icon {
  margin-right: 10px;

  width: 10px;
  height: 16px;

  fill: currentColor;
}
