.subscribe-form {
  @include centerdFlex();
}

.subscribe__heading {
  margin-bottom: 20px;

  @include font($fw: 700, $lh: 16);

  text-transform: uppercase;

  color: getColor('general-white');
}

.subscribe-form__input {
  display: inline-block;

  padding: 15px;
  margin-right: 12px;

  width: 358px;

  border: getBorder('input');
  border-radius: $primary-border-radius;

  color: getColor('address');
  background-color: transparent;

  &::placeholder {
    @include font($lh: 20);

    letter-spacing: 0.03em;

    color: getColor('address');
  }
}

.subscribe-form__button {
  @include centerdFlex();

   transition: gettransition(background-color);

  &:hover,
  &:focus {
    background-color: getColor('accent-hover');
  }
}

.subscribe-form__icon {
  display: inline-block;

  margin-left: 10px;

  width: 24px;
  height: 24px;

  fill: currentColor;
}
