@mixin centerdFlex($type: flex) {
  display: $type;
  align-items: center;
  justify-content: center;
}

@mixin font($fz: 14, $fw: 400, $lh: 24, $ls: 0.03) {
  font-size: $fz + px;
  font-weight: $fw;
  line-height: ($lh / $fz);
  letter-spacing: $ls + em;
}
